{% extends 'main/base.html' %}

{% block content %}
    {% load static %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <img src="{% static 'car1.jpg' %}" width="400" height="200" alt="">
                    </div>
                    <div class="col-lg-5 mx-auto ml-0">
                        <lead>A car service can involve up to 50 or more components, systems checks and adjustments including: An engine oil change and/or filter replacement. Checking lights, tyres, exhaust and operations of brakes and steering. Ensuring your engine is 'tuned' to run in its peak condition.</lead>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}