{% extends 'user/base.html' %}


{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-lg-4">
                <div class="card bg-secondary">
                    <h5 class="display-5 text-center text-white mt-2">Panding Request</h5>
                    <div class="card-body">
                        <h4 class="text-center text-white">{{ panding }}</h4>
                    </div>
                </div>
            </div>
           <div class="col-lg-4">
                <div class="card bg-secondary">
                    <h5 class="display-5 text-center text-white mt-2">Aprove Request</h5>
                    <div class="card-body">
                        <h4 class="text-center text-white">{{ select }}</h4>
                    </div>
                </div>
            </div>
           <div class="col-lg-4">
                <div class="card bg-secondary">
                    <h5 class="display-5 text-center text-white mt-2">Reject Request</h5>
                    <div class="card-body">
                        <h4 class="text-center text-white">{{ reject }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}